*{
    margin: 0;
    padding: 0;
}
#top{
    text-align: center;
    margin: 30px;
}
h2{
    margin-left: 20px;
    margin-top: 30px;
}
span{
    color: lightblue;
    margin-left: 15px;
}
p{
    width: 900px;
    font-size: 20px;
    margin: 10px 20px 10px 20px;s
}